{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}

<div{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  {{ title_suffix }}

  {% block content %}
    {{ content.field_card_header }}

    <div class="card-body">
      {{ content.field_card_title }}
      {{ content|without('image_field', 'field_card_header', 'field_card_title', 'field_card_footer') }}
    </div>

    {{ content.field_card_footer }}
    {#<img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>#}
  {% endblock content %}

</div>
