{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}

<div{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  {{ title_suffix }}

  {% block content %}
    {% if image_position == 'top' %}
      {{ content.image_field }}
    {% endif %}

    {% if image_position == 'overlay' and paragraph.image_field.0.target_id is not empty %}
      {{ content.image_field }}

      <div class="card-img-overlay">
        {% if content.field_card_image_link[0]['#url'] is not empty %}
          <a href="{{ content.field_card_image_link[0]['#url'] }}" class="d-block">
        {% endif %}

        {{ content|without('image_field') }}

        {% if content.field_card_image_link[0]['#url'] is not empty %}
          </a>
        {% endif %}
      </div>
    {% else %}
      {{ content|without('image_field', 'field_card_image_link') }}
    {% endif %}

    {% if image_position == 'bottom' %}
      {{ content.image_field }}
    {% endif %}
  {% endblock content %}

</div>
