{%
set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}

<div{{ attributes.addClass(classes) }}>
  {% if add_container and add_grid %}
    <div{{ container_attributes.addClass('container') }}>
  {% endif %}

  {% if add_grid %}<div{{ row_attributes.addClass('row') }}><div{{ column_attributes }}>{% endif %}

  {{ title_prefix }}
  {{ title_suffix }}

  {% block content %}
    {{ content }}
  {% endblock content %}

  {% if add_grid %}</div></div>{% endif %}

  {% if add_container and add_grid %}
    </div>
  {% endif %}
</div>
