{%
set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  cover.first is not empty ? 'with-behavior-cover',
  cover.last is not empty ? 'with-behavior-cover',
]
%}

<div{{ attributes.addClass(classes) }}>
  {% if cover.first is not empty %}
    <div class="behavior-cover">
      <div class="row">
        <div{{ create_attribute().addClass(cover.first.classes) }}>
          {{ cover.first.content }}
        </div>
      </div>
    </div>
  {% endif %}

  {% if cover.last is not empty %}
    <div class="behavior-cover">
      <div class="row">
        <div{{ create_attribute().addClass(cover.last.classes) }}>
          {{ cover.last.content }}
        </div>
      </div>
    </div>
  {% endif %}

  {% if add_container and add_grid %}
    <div{{ container_attributes.addClass('container') }}>
  {% endif %}

  {% if wrap_with_grid is not empty %}<div class="row no-gutters"><div{{ column_attributes.addClass('col-12') }}>{% endif %}

  {% if add_grid %}<div{{ row_attributes.addClass('row') }}>{% endif %}
    {{ title_prefix }}
    {{ title_suffix }}

    {% block content %}
      {{ content }}
    {% endblock content %}
  {% if add_grid %}</div>{% endif %}

  {% if wrap_with_grid is not empty %}</div></div>{% endif %}

  {% if add_container and add_grid %}
    </div>
  {% endif %}
</div>

